{% extends "template.html" %}
{% block conteudo %}


        <a class="btn btn-warning" href="{{url_for('termosLGPD') }}">LGPD</a>
        <a class="btn btn-dark" href="{{url_for('index') }}">Voltar</a>
        <a class="btn btn-secondary">Acesso Restrito</a>

        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome do usuario</th>
                    <th>Apelido (Nickname)</th>
                    <th>Edição</th>
                    <th>Remoção da lista</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarioss %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.nickname }}</td>
                    <td><a class="btn btn-outline-primary" href="{{ url_for('editar', id=jogo.id) }}">Editar</a></td>
                    <td><a class="btn btn-outline-danger" href="{{ url_for('deletar', id=jogo.id) }}">Deletar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
